# General
*~
.DS_Store
.nfs.*
._*

# Environment
/.eggs
/tmp
/vendor
/venv
/venvs

# Build products
*.c
*.dll
*.egg-info
*.lib
*.pyc
*.so
/*.sdf
/*.sln
/*.suo
/build
/dist
/docs/_build
/msvc-projects
/src/av/**/*.exp
/src/av/**/*.pdb
/src/av/**/*.pyd

# Testing.
*.spyderproject
.idea
/.vagrant
/sandbox
/tests/assets
/tests/samples
